body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /*background-color: aqua;*/
    background-image: url(images/flappybirdbg.png);
    background-repeat: no-repeat;
    background-size:contain;
}